@font-family{
    font-family: Century Gothic;
	src: url("fonts/GOTHIC.ttf");
}
body{
    background-color: white;
	background-image: url("https://upload.wikimedia.org/wikipedia/en/thumb/b/be/Science_Olympiad_Logo.svg/1280px-Science_Olympiad_Logo.svg.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	font-family: Centruy Gothic, sans-serif;
}
.tabsul{
    text-decoration: none;
	list-style-type: none;
	text-align: center;
}
.disp{
    /*display: inline-block;*/
	background-color: #FF9900;
	text-align: center;
}
.navs{
    color: black;	
	padding: 0px;
	/*padding-left: 40px !important;*/
	/*padding-right: 40px !important;*/
	background-color: #chartreuse;
	font-size: 35px;
	text-align: center;
}
.navs:hover{
    background-color: red;
	color: white;
}
#stuy{
    font-size: 60px;
	text-align: center;
}
h2{
    font-size: 45px;
	text-align: center;
}
h3{
    font-size: 30px;
	text-align: center;
}
p{
    font-size: 24px;
}
li{
    font-size: 24px;
}
a{
    text-decoration: none;
	font-size: 24px;
	color: black;
}
p a{
	text-decoration: none;
	background-color: gray;
	color: white;
}
p iframe{
	width: 100%;
	height: 550px;
}
#stuy{
    color: black;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	background-color: #FFFFFF;
}
figcaption{
    font-size: 24px;
}
#teamup{
	margin-left: auto;
	margin-right: auto;
	width: 95%;
	height: 500px;
}
#announcements{
	background-color: #66FFFF;
}
#homepage{
    background-color: white;
}
#about{
    background-color: #CCFFCC;
}
#gallery{
    background-color: #FFCC99;
}
#staff{
    background-color: #FFFFCC;
}
#presentation{
	background-color: #CCCCFF;
}